<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.tum.in.tumcampus" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="7" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".TumCampus" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".Cafeterias" android:label="Speisepläne">
		</activity>

		<activity android:name=".Events" android:label="Veranstaltungen">
		</activity>

		<activity android:name=".Lectures" android:label="Vorlesungen">
		</activity>

		<activity android:name=".Links" android:label="Links">
		</activity>

		<activity android:name=".News" android:label="Nachrichten">
		</activity>

		<activity android:name=".Transports" android:label="MVV">
		</activity>

	</application>
</manifest>